:root{
    --cor-de-fundo: #16436F;
    --cor-header:  #0A1F40;
    --braco-principal: #FFFFFF;
    --cor-logo: #edc531;
    --font-Inter: 'inter';
    --font-Merriweather-Sans:'Merriweather Sans';
    --font-Roboto-Slab: 'Roboto Slab';
    --font-Rubik: 'Rubik';
}
*{
    margin: 0;
    padding: 0;
}
body{
    font-family: var(--font-Inter);
    background-color: var(--cor-de-fundo);
}
/*inicio header*/
header{
background-color: var(--cor-header);
    height:  100px;;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.content{
    display: flex;
    justify-content: space-between;
    width: -webkit-fill-available;
    align-items: center;
}
.nome_logo{
    color: var(--cor-logo);
    lighting-color: yellow;
    text-shadow:  0 0 2px var(--cor-logo);
    font-family: var(--font-Roboto-Slab);
    font-size: 14px;
    margin-left: 3em;
}
.menu{
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    width: 32em;
    height: 35px;
    margin: 15px 3em 0 0;
}
.menu a{
    text-decoration: none;
    font-family: var(--font-Merriweather-Sans);
    font-weight: 600;
    color: var(--braco-principal);
    font-size: 20px;
}
/*Inico botão*/
.menu .facebook{
    color: var(--cor-home);
    text-shadow: 0.5px 0.5px 4px red;
}
/*Final botão*/
/*final header*/
